<!DOCTYPE html>
<html>
<head>
  <title>
    <%= main_title %>
  </title>
  <div id="nav">
    <%= link_to "Sign up", new_user_registration_path %>
  </div>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% flash.each do |key, value| %>
    <div class="flash" id="<%= key %>">
      <%= value %>
    </div>
  <% end %>
  <%= link_to "Ticketee", root_path %>
  <%= yield %>
  <br /><br /><br />
  <%= debug(params) if Rails.env.development? %>

</body>
</html>
